node_modules
*.log
dist
config.json
electron-output
.DS_STORE
.cache
satellite/bundled-modules
satellite/surfaces
satellite/module-store-cache.json

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
