[Unit]
Description=Bitfocus Companion Satellite
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=satellite
WorkingDirectory=/usr/local/src/companion-satellite
ExecStartPre=+/opt/fnm/aliases/default/bin/node /usr/local/src/companion-satellite/satellite/dist/fixup-pi-config.js /home/satellite/satellite-config.json
ExecStart=/opt/fnm/aliases/default/bin/node /usr/local/src/companion-satellite/satellite/dist/main.js /home/satellite/satellite-config.json
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target