SUBSYSTEM=="input", GROUP="input", MODE="0660"

KERNEL=="hidraw*", ATTRS{idVendor}=="1edb", ATTRS{idProduct}=="0000", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="1edb", ATTRS{idProduct}=="bef0", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="1edb", ATTRS{idProduct}=="da0e", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="1edb", ATTRS{idProduct}=="da11", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0b33", ATTRS{idProduct}=="0010", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0b33", ATTRS{idProduct}=="0020", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0b33", ATTRS{idProduct}=="0030", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0240", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0060", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0063", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="006c", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="006d", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0080", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0084", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0086", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="008f", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0090", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="009a", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="00a5", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="00aa", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="00b3", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="00b8", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="00b9", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="00ba", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="00c6", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="2b18", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="ffff", ATTRS{idProduct}=="1f40", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="ffff", ATTRS{idProduct}=="1f41", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="2ec2", ATTRS{idProduct}=="0003", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="2ec2", ATTRS{idProduct}=="0004", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="2ec2", ATTRS{idProduct}=="0006", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="2ec2", ATTRS{idProduct}=="0007", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="0d06", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="0d09", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6603", ATTRS{idProduct}=="1003", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6603", ATTRS{idProduct}=="1005", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6603", ATTRS{idProduct}=="1006", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6603", ATTRS{idProduct}=="1007", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6603", ATTRS{idProduct}=="1012", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6603", ATTRS{idProduct}=="1014", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="5548", ATTRS{idProduct}=="1001", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="5548", ATTRS{idProduct}=="1028", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="5548", ATTRS{idProduct}=="1031", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="5548", ATTRS{idProduct}=="6670", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="5548", ATTRS{idProduct}=="6674", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6602", ATTRS{idProduct}=="1001", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6602", ATTRS{idProduct}=="1003", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="6602", ATTRS{idProduct}=="1014", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="1500", ATTRS{idProduct}=="3003", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0300", ATTRS{idProduct}=="1010", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0300", ATTRS{idProduct}=="3002", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="0300", ATTRS{idProduct}=="3010", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="00ff", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="28bd", ATTRS{idProduct}=="5203", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0000", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="00d2", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0403", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0405", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0406", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0408", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0419", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="041b", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0426", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0428", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0429", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="042b", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0438", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="043a", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0441", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0443", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="045a", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="045c", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="045d", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="045f", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0461", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0463", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0467", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0469", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="046a", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="046c", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04a8", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04ab", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04bd", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04c0", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04c1", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04c4", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04c5", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04c8", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04c9", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04cb", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04ce", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04cf", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04d2", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04dc", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04df", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04e9", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04ec", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04fb", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04fe", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04ff", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0502", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0524", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0525", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0526", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0527", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0528", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0529", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="052a", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="052c", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="052d", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="052e", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="052f", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0530", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0531", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0532", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0533", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="053f", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0540", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0541", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0542", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0543", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0544", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0545", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0547", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="054a", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="054b", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="054c", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="054d", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="054e", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="054f", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0550", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0551", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0553", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0554", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0555", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0556", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0557", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0558", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0559", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="055a", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="055b", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0562", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0563", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0564", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0565", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0566", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0567", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0568", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="056c", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="056d", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="056e", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="056f", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0570", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0571", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0572", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0574", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0575", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0576", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0577", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0578", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0579", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="057a", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="057c", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="058e", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="058f", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0590", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0591", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0592", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0593", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0594", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05a3", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05b0", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d0", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d1", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d2", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d3", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d4", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d5", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d6", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d8", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05d9", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05da", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05db", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05dc", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05dd", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05de", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05e1", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05e2", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05e3", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05e4", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05e5", MODE:="660", GROUP="satellite"
KERNEL=="hidraw*", ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="05e6", MODE:="660", GROUP="satellite"
